@using Samson.Standard.Services;
@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
    var contentService = new StrongContentService();
    
    var rootNode = contentService.GetRootNodes().FirstOrDefault();
  
    // Basic
    var children = contentService.GetChildNodes(rootNode);
    
    <h3>Basic Typed Nav</h3>
    <ul>
        @foreach (var child in children)
        {
            <li><a href="@child.Url">@child.Name</a></li> 
        }
    </ul>
    
    // Typed
    var strongChildren = contentService.GetChildNodes<Samson.Demo.DocumentTypes.Page>(rootNode);

    <h3>Strongly Typed Nav</h3>
    <ul>
        @foreach (var child in strongChildren)
        {
            <li><a href="@child.Url">@child.MainTitle</a></li> 
        }
    </ul>    
}