@using Samson.Basic.Services;
@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
    var contentService = new StrongContentService(new DocumentTypeModelsRepository());
    
    var rootNode = contentService.GetRootNodes().FirstOrDefault();
  
    // Basic
    var children = rootNode.GetChildNodes();
    
    <h3>Basic Typed Nav</h3>
    <ul>
        @foreach (var child in children)
        {
            <li><a href="@child.Url">@child.Name</a></li> 
        }
    </ul>
    
    // Typed
    var strongChildren = rootNode.GetChildNodes<Samson.Demo.DocumentTypes.Content>();

    <h3>Strongly Typed Nav</h3>
    <ul>
        @foreach (var child in strongChildren)
        {
            <li><a href="@child.Url">@child.MainTitle</a></li> 
        }
    </ul>    
}